.Home {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link {
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 100px;
}

.link:hover {
    color: blue;
}