.header {
  background-color: #282c34;  
  height: 50px;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  /* justify-content: right; */

  justify-content: space-between;
  color: white;
}

.header > ul {
  list-style-type: none;
}

.header > ul > li {
  display: inline-block;
}

.footer {
  background-color: red;
  width: 100%;
  height: 50px;
  /* display: flex; */
  position: absolute;
  bottom: 0;
  /* align-items: center; */
}

button {
  padding: 5px;
  margin: 10px;
}

table {
  border: 0px solid black;
}

th {
  border: 0px solid black;
  background: black;
  color: white;
  text-align: center;
  min-width: 200px;
}

td {
  border: 1px solid black;
  background: white;
  color: black;
  text-align: center;  
}

.label-button {
  display: inline-block;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
}

input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  display: none;
}




.grid-frame {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 30% 30% 40%;
  background-color: #fff;
  color: #444;
  /* min-height: 100vh; */
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
}

.b {
  grid-column: 3;
  grid-row: 1 / 3;
}

.c {
  grid-column: 1;
  grid-row: 2;
}

.d {
  grid-column: 2;
  grid-row: 2;
}